@model BEEERP.Models.ViewModel.SpareParts.SPIndentVModel

@{
    ViewBag.Title = "SPIndent";
}

@*<h2>SPIndent</h2>*@
<style>
    h3 {
        background: #F1C40F;
        border-radius: 8px;
    }

    .btn {
        background-color: #2980B9;
        border: 2px solid groove;
        color: white;
        border-radius: 8px;
        min-width: 80px
    }

        .btn:hover {
            background-color: #82E0AA;
            color: #02110E;
        }

    .select2-selection--single:focus {
        background-color: aqua !important;
    }
</style>
<h3 style="text-align:center">Spare Parts Indent (SPI Entry)</h3>
<div class="content">
    <div class="row">
        <div class="form-horizontal">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box ">
                            <div class="box-header with-border box-head-back" style="background: #82E0AA; text-align: left;">
                                <h4 class="box-title" style="text-align:center">Indent Details </h4>
                            </div>
                            <div class="box-body">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.IndentNo, "SPI No", new { @class = "col-md-4 control-label" })
                                        <div class="col-sm-8 input-group" style="padding-left:15px; padding-right:15px;">
                                            @Html.TextBoxFor(m => m.IndentNo, new { @class = "form-control", @Value = ViewBag.Id })
                                            @Html.ValidationMessageFor(m => m.IndentNo, "", new { @style = "color: red" })
                                            <div class="input-group-btn">
                                                <input type="button" name="search" id="search" value="Search" class="btn btn-primary" style="min-width: 50px" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.TypeID, "Type Name", new { @class = "col-md-4 control-label" })
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.TypeID, (IEnumerable<SelectListItem>)ViewBag.TypeID, new { @class = "form-control select2" })
                                            @Html.ValidationMessageFor(m => m.TypeID, "", new { @style = "color: red" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.TotalQty, "Total Qty", new { @class = "col-md-4 control-label" })
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.TotalQty, new { @class = "form-control digit", @readonly = "readonly" })
                                            @Html.ValidationMessageFor(m => m.TotalQty, "", new { @style = "color: red" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.IdtDate, "Date", new { @class = "col-md-4 control-label" })
                                        <div class="col-sm-8 input-group" style="padding-left:15px; padding-right:15px">
                                            @Html.TextBoxFor(m => m.IdtDate, new { @class = "form-control date", @Value = DateTime.Now.ToString("dd-MM-yyyy") })
                                            @Html.ValidationMessageFor(m => m.IdtDate, "", new { @style = "color: red" })
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.CompanyID, "Company", new { @class = "col-md-4 control-label" })
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.CompanyID, (IEnumerable<SelectListItem>)ViewBag.Company, new { @class = "form-control select2" })
                                            @Html.ValidationMessageFor(m => m.CompanyID, "", new { @style = "color: red" })
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.TotalValue, "Total Value", new { @class = "col-md-4 control-label" })
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.TotalValue, new { @class = "form-control", @readonly = "readonly" })
                                            @Html.ValidationMessageFor(m => m.TotalValue)
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Description, "Description", new { @class = "col-md-4 control-label" })
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Description)
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ReferenceNo, "Reference No", new { @class = "col-md-4 control-label" })
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.ReferenceNo, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.ReferenceNo)
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="box ">
                            <div class="box-body">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.GroupId, "Group", new { @class = "col-md-4 control-label" })
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.GroupId, (IEnumerable<SelectListItem>)ViewBag.GroupId, new { @class = "form-control select2" })
                                            @Html.ValidationMessageFor(m => m.GroupId, "", new { @style = "color: red" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.SPItemID, "Item", new { @class = "col-md-4 control-label" })
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.SPItemID, (IEnumerable<SelectListItem>)ViewBag.ItemId, new { @class = "form-control select2" })
                                            @Html.ValidationMessageFor(m => m.SPItemID, "", new { @style = "color: red" })
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.UOMName, "Uom", new { @class = "col-md-4 control-label" })
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.UOMName, new { @class = "form-control", @readonly = "readonly" })
                                            @Html.ValidationMessageFor(m => m.UOMName, "", new { @style = "color: red" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ItemRate, "Rate", new { @class = "col-md-4 control-label" })
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.ItemRate, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.ItemRate, "", new { @style = "color: red" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.BalanceQty, "Balance Qty", new { @class = "col-md-4 control-label" })
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.BalanceQty, new { @class = "form-control", @readonly = "readonly" })
                                            @Html.ValidationMessageFor(m => m.BalanceQty, "", new { @style = "color: red" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ItemQty, "Quantity", new { @class = "col-md-4 control-label" })
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.ItemQty, new { @class = "form-control digit" })
                                            @Html.ValidationMessageFor(m => m.ItemQty, "", new { @style = "color: red" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ItemValue, "Value", new { @class = "col-md-4 control-label" })
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.ItemValue, new { @class = "form-control", @readonly = "readonly" })
                                            @Html.ValidationMessageFor(m => m.ItemValue, "", new { @style = "color: red" })
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="box" style="border:none">
                                    <div class="box-body">
                                        <div class="form-group" style="text-align:center;padding-top:10px">
                                            <button type="button" id="addToGrid" name="addToGrid" style="height:33px;font-size:13px;" class="btn btn primary">Add To Grid</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="box ">
                                    <div class="box-header with-border box-head-back" style="background: #82E0AA; text-align: left;">
                                        <h4 class="box-title">SPIndent Line Items</h4>
                                    </div>
                                    <div class="box-body">
                                        <table class="table table-responsive" id="IssueSpareParts">
                                            <thead>
                                                <tr>
                                                    <th>Group Name</th>
                                                    <th>Item Name</th>
                                                    <th>Item Qty</th>
                                                    <th>Item Rate</th>
                                                    <th>Item Value</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box">
                                    <div class="box-footer">
                                        <div class="form-group" style="text-align:center">

                                            <input type="button" value="Save" id="save" class="btn btn-primary" style="padding-left:20px;" />
                                            <input type="button" name="update" id="update" value="Update" class="btn btn-primary" />
                                            <input type="button" name="delete" id="delete" value="Delete" class="btn btn-primary" />
                                            <input type="button" name="clear" id="clear" value="Clear" class="btn btn-primary" />
                                            <input type="button" name="refresh" id="refresh" value="Refresh" class="btn btn-primary" />
                                            <input type="button" name="print" id="print" value="Print" class="btn btn-primary" />

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script src="~/Scripts/Common.js"></script>
    <script src="~/Scripts/StoreRM/IRMInputFocus.js"></script>
    <script>
        $("#SPTypeID").prop("disabled", true);
        $("#ItemId").prop("disabled", true);
        $("#BoxID").prop("disabled", true);

        var table = $('#IssueSpareParts').DataTable({
            'paging': false,
            'lengthChange': false,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false
        });

        EnterPress();
        var addedItems = [];
        var indent = { IndentNo: 0, IdtDate: "", CompanyID: 0, TypeID: 0, Description: "", ReferenceNo: "", SPItemID: 0, ItemQty: 0, ItemRate: 0, ItemValue: 0, UOMName:"", BalanceQty: 0, TotalQty: 0, TotalValue: 0 }
        var itemId = "";
        var uomId = "";
        $('.date').datepicker({
            autoclose: true,
            format: 'dd-mm-yyyy',
        });

        var isValid = true;
        $(".select2").select2();

        $(document).ready(function () {
            $("#update").hide();
            $("#delete").hide();
            $("#clear").hide();
            $("#SPItemID").prop('disabled', true);
            $("#print").prop('disabled', true);
        });

        var itemTypeId;
        //ItemTYpe change reaction
        $(document).on('change', "#GroupId", function () {
            $("#SPItemID").prop('disabled', false);
            var id = { id: parseInt( $(this).val()) };
            if (id.id != "") {
                $.ajax({
                    url: '@Url.Action("GetItemByBatchID", "IssueSpareParts")',
                    contentType: "application/json;charset=utf-8",
                    data: id,
                    type: 'GET',
                    dataType: 'json',
                    success: function (datas) {

                        $("#SPItemID").empty();
                        $("#SPItemID").prop("disabled", false);
                        $.each(datas, function (index, value) {
                            $("#SPItemID").append($('<option />', {
                                value: value.Value,
                                text: value.Text
                            })).trigger('change');
                        });
                        $("#SPItemID").focus();
                        if (itemTypeId != "") {
                            $("#SPItemID").val(itemTypeId).change();
                            itemTypeId = "";
                        }
                    }
                });
            }
            else {
                $("#SPItemID").val("").change();
                $("#SPItemID").prop("disabled", true);
            }
        });

          //Uom change reaction
        $(document).on('change', "#SPItemID", function () {
            var id = { id: parseInt($(this).val()), companyId: parseInt($("#CompanyID").val()), typeId: parseInt($("#TypeID").val()), idtDate: $("#IdtDate").val() };

            if (id.id != ""  && id.companyId != "" && id.typeId !="") {
                    $.ajax({
                        url: '@Url.Action("GetUomByItemId", "SPIndent")',
                        contentType: "application/json;charset=utf-8",
                        data: id,
                        type: 'GET',
                        dataType: 'json',
                        success: function (datas) {

                            $("#UOMName").val(datas.uname);
                            $("#BalanceQty").val(datas.balQty);
                            $("#ItemRate").val(datas.Rate);



                        }
                    });
                }
        });

        // ItemValueCalculation

        $(document).on('change', "#ItemQty", function () {
            calculateitemvalue();
        });
        $(document).on('change', "#ItemRate", function () {
            calculateitemvalue();
        });

        function calculateitemvalue() {
            var ItemQty = $("#ItemQty").val() == "" ? 0 : parseFloat($("#ItemQty").val());
            var ItemRate = $("#ItemRate").val() == "" ? 0 : parseFloat($("#ItemRate").val());

            $("#ItemValue").val(ItemQty * ItemRate);
        }

        //issue qty set reaction
        $(document).on('focusout', '#Qty', function () {
            var isuuQty = $("#Qty").val();
            var avalQty = $("#StockQty").val();

            if (parseFloat(isuuQty) > parseFloat(avalQty)) {
                setError("Qty", "Issue Qty Can not be grater than Available Qty");
                $("#Qty").val("");
                $("#BalanceQty").val("");
            }
            else if (parseFloat(isuuQty) == 0) {
                setError("Qty", "Issue Qty can not be zero");
                $("#Qty").val("");
                $("#BalanceQty").val("");
            }
            else {
                var balQty = avalQty - isuuQty;
                $("#BalanceQty").val(balQty);
            }
        });

        //refresh Click
        $(document).on('click', '#refresh', function () {
            location.reload();
        });

        //clear click
        $(document).on('click', '#clear', function () {
            location.reload();
        });

        //add to grid Code

        $(document).on('click', '#addToGrid', function () {
           // RemoveError();
            ValidateAddToGrid();
            if (isValid == true) {
                var item = { IndentNo: 0, IdtDate: "", CompanyID: 0, TypeID: 0, Description: "", ReferenceNo: "", GroupId: 0, GroupName: "", SPItemID: 0, ItemName: "", UOMName:"", ItemQty: 0, ItemRate: 0, ItemValue: 0, BalanceQty: 0, TotalQty: 0, TotalValue: 0 }

                item.IndentNo = 0;
                item.IdtDate = $("#IdtDate").val();
                item.CompanyID = $("#CompanyID").val();
                item.TypeID = $("#TypeID").val();
                item.Description = $("#Description").val();
                item.ReferenceNo = $("#ReferenceNo").val();
                item.GroupId = $("#GroupId").val();
                item.GroupName = $("#GroupId option:selected").text();
                item.SPItemID = $("#SPItemID").val();
                item.ItemName = $("#SPItemID option:selected").text();
                item.ItemQty = $("#ItemQty").val();
                item.ItemRate = $("#ItemRate").val();
                item.ItemValue = $("#ItemValue").val();
                item.BalanceQty = $("#BalanceQty").val();
                item.TotalQty = $("#TotalQty").val();
                item.TotalValue = $("#TotalValue").val();
                addedItems.push(item);
                ClearOnAddGrid();
                ShowOnTable();
            }

        });

        function ShowOnTable() {
            table.clear().draw();
            var totQty = 0;
            var totValue = 0;
            $.each(addedItems, function (index, value) {
                table.row.add([value.GroupName, value.ItemName, value.ItemQty, value.ItemRate, value.ItemValue, '<a href="#"><i class="fa fa-edit" name="editRow" value="' + value.SPItemID + '"></i></a> &ensp;&ensp;&ensp;<a href="#"><i class="fa fa-trash" name="deleteRow" value="' + value.ItemID + '"></i></a>']).draw();
                totQty += parseFloat(value.ItemQty);
                totValue += parseFloat(value.ItemValue);

            });
            $("#TotalQty").val(totQty);
            $("#TotalValue").val(totValue);
        }

        //Gii Save code
        $(document).on('click', "#save", function () {
            RemoveError();
            Setindent();
            if (addedItems.length <= 0) {
                alert("At least One Item should be added for save.");
            }
            else {
                Validateindent();
                if (isValid == true) {
                    if (confirm('Do you want to save')) {
                        $.ajax({
                            url: '@Url.Action("SaveSpIndent", "SPIndent")',
                            contentType: "application/json;charset=utf-8",
                            data: JSON.stringify({ indent: indent, indentLineItems: addedItems }),
                            type: 'POST',
                            dataType: 'json',
                            success: function (datas) {

                                alert("Sucessfully Saved.");
                                $("#save").prop('disabled', true);
                                $("#print").prop('disabled', false);
                                $("#IndentNo").val(datas.Id);

                            }
                        });
                    }
                    else {
                        $("#save").show();
                    }
                }
            }
        });

        //search ISP By Id
        $(document).on('click', '#search', function () {
            RemoveError();
            var id = { id: $("#IndentNo").val() };
            ClearOnSearch();
            $.ajax({
                    url: '@Url.Action("GetSPIndentById", "SPIndent")',
                    contentType: "application/json;charset=utf-8",
                    data: id,
                    type: 'GET',
                    dataType: 'json',
                    success: function (datas) {

                        if (datas == 0) {
                            alert("Your entered Indent No. Doesn't exist");
                        }
                        else {
                            $("#save").hide();
                            $("#print").prop('disabled', false);
                            $("#update").show();
                            $("#delete").show();
                            $("#IndentNo").val(datas.indentDetails.IndentNo);
                            $("#IdtDate").val((moment(datas.indentDetails.IdtDate).format("DD-MM-YYYY")));
                            $("#CompanyID").val(datas.indentDetails.CompanyID).change();
                            $("#TypeID").val(datas.indentDetails.TypeID).change();
                            $("#Description").val(datas.indentDetails.Description);
                            $("#ReferenceNo").val(datas.indentDetails.ReferenceNo);

                            addedItems = [];
                            $.each(datas.indentLineItems, function (index, value) {
                                var item = { GroupId: 0, GroupName: "", SPItemID: 0, ItemName: "", ItemQty: 0, ItemRate: 0, ItemValue: 0, UOMName: "", BalanceQty: 0, TotalQty: 0, TotalValue: 0 }
                                item.GroupId = value.GroupId;
                                item.GroupName = value.GroupName;
                                item.SPItemID = value.SPItemID;
                                item.ItemName = value.ItemName;
                                item.ItemQty = value.ItemQty;
                                item.ItemRate = value.ItemRate;
                                item.ItemValue = value.ItemValue;
                                item.UOMName = value.UOMName;
                                item.BalanceQty = value.BalanceQty;
                                item.TotalQty = value.TotalQty;
                                item.TotalValue = value.TotalValue;
                                addedItems.push(item);
                            });
                            ShowOnTable();
                        }
                },
                error: function () {
                    alert("Please check your internet connection first. If this doesn't solve your problem, then Contact With Paankouri Software & Services")

                }
            });
        });
        var Qty = 0.0;
        //show grid row in textbox by edit row click
        $(document).on('click', '[name="editRow"]', function () {
            var item = $(this).attr("value");
            var newItem = [];
            $.each(addedItems, function (index, value) {
                if (value.SPItemID == item) {

                    $("#GroupId").val(value.GroupId).change();
                    $("#SPItemID").val(value.item).change();
                    itemTypeId = value.SPItemID;
                    $("#ItemRate").val(value.ItemRate);
                    $("#ItemQty").val(value.ItemQty);
                    $("#ItemValue").val(value.ItemValue);
                    Qty = parseFloat(value.Qty);
                    //$("#Qty").val(Qty);

                    itemId = value.SPItemID;
                }
                else {
                    newItem.push(value);
                }

            });
            addedItems = newItem;
            ShowOnTable();
        });

        //delete row by clicking Delete row
        $(document).on('click', '[name="deleteRow"]', function () {
            var item = $(this).attr("value");
            var newItem = [];
            if (confirm('Are you sure you want to delete this from Grid ?')) {
                $.each(addedItems, function (index, value) {
                    if (value.SPItemID == item) {

                    }
                    else {
                        newItem.push(value);
                    }

                });
                addedItems = newItem;
                ShowOnTable();
            }
        });

        //update GSII by clicking update button
        $(document).on('click', '#update', function () {
            RemoveError();
            $("#update").prop('disabled', true);
            Setindent();
            if (addedItems.length <= 0) {
                alert("Update Failed.");
            }
            else {
                Validateindent();
                if (isValid == true) {
                    if (confirm('Do you want to Update')) {
                        $.ajax({
                            url: '@Url.Action("UpdateSPIndent", "SPIndent")',
                            contentType: "application/json;charset=utf-8",
                            data: JSON.stringify({ indent: indent, indentLineItems: addedItems }),
                            type: 'POST',
                            dataType: 'json',
                            success: function (datas) {
                                if (datas == 0) {
                                    alert("Sucessfully Updated.");
                                    $("#save").prop('disabled', true);
                                    $("#print").prop('disabled', false);

                                }
                                else {
                                    alert("Failed To Update.");

                                }
                            }
                        });
                    }
                    else {
                        $("#save").show();
                    }
                }
            }
        });

        //delete GSInventory by clicking delete button
        $(document).on('click', '#delete', function () {
            $("#update").prop('disabled', true);
            $("#delete").prop('disabled', true);
            var id = $("#IndentNo").val();
            if (confirm('Are you sure you want to delete this from the database?')) {
                $.ajax({
                    url: '@Url.Action("DeleteSPIndentByid", "SPIndent")',
                    contentType: "application/json;charset=utf-8",
                    data: { id: id },
                    type: 'GET',
                    dataType: 'json',
                    success: function (datas) {
                        if (datas == 0) {
                            alert("Delete Successfull");

                            $("#delete").prop('disabled', true);
                            $("#update").prop('disabled', false);
                        }
                        else {
                             alert("Delete failed.");
                            //location.reload();
                        }
                    }
                });
            }
        });

        $(document).on('click', '#print', function () {
            if ($("#IRMID").val() != "") {
                window.open("/IRM/Print?IRMNo=" + $("#IRMID").val(), "_blank");
            }
            else {
                alert("IRMP number is required");
            }
        });

        //grid view


        //grid validation
        function ValidateAddToGrid() {
            isValid = true;
            if ($("#SPItemID").val() == "") {
                setError("SPItemID", "Item is required field");
                isValid = false;
            }
            if ($("#ItemQty").val() == "") {
                setError("ItemQty", "Quantity is required field");
                isValid = false;
            }

            $.each(addedItems, function (index, value) {
                if (value.SPItemID == $("#SPItemID").val()) {
                    setError("SPItemID", "This Item Already Added.");
                    isValid = false;
                }
            });
        }

        //value set for GSInventory object From textbox
        function Setindent() {
            indent.IndentNo = $("#IndentNo").val();
            indent.IdtDate = $("#IdtDate").val();
            indent.CompanyID = parseInt($("#CompanyID").val());
            indent.TypeID = parseInt($("#TypeID").val());
           // indent.GroupId = parseInt($("#GroupId").val());
            indent.SPItemID = $("#SPItemID").val();
            indent.Description = $("#Description").val();
            indent.ReferenceNo = $("#ReferenceNo").val();
            indent.ItemQty = $("#ItemQty").val();
            indent.ItemRate = $("#ItemRate").val();
            indent.ItemValue = $("#ItemValue").val();
            indent.BalanceQty = $("#BalanceQty").val();
            indent.TotalQty = $("#TotalQty").val();
            indent.TotalValue = $("#TotalValue").val();

        }

        //validate save button click
        function Validateindent() {
            isValid = true;
            if (indent.IdtDate == "") {
                setError("ISPDate", "Date is required field");
                isValid = false;
            }
            if (indent.CompanyID == "") {
                setError("CompanyID", "Company ID is required field");
                isValid = false;
            }
            if (indent.TypeID == "") {
                setError("TypeID", "Type ID is required field");
                isValid = false;
            }
            $.each(addedItems, function (index, value) {
                if (value.SPItemID == $("#SPItemID").val()) {
                    setError("SPItemID", "This Item Already Added.");
                    isValid = false;
                }
            });
        }

        //clear textbox
        function clearsISP() {
            $("#Refno").val("");
            $("#CompanyID").val("").change();
            $("#TypeID").val("").change();
            $("#Description").val("");
            table.clear().draw();
        }

        //clear grid related textbox after click addtogrid
        function ClearOnSearch() {
            $("#CompanyID").val("").change();
            $("#GroupId").val("").change();
            $("#SPItemID").val("").change();
            $("#ItemQty").val("");
            $("#ItemRate").val("");
            $("#ItemValue").val("");
            $("#BalanceQty").val("");
            itemId = "";
        }
        function ClearOnAddGrid() {
            $("#SPItemID").val("").change();
            $("#SPTypeID").val("").change();
            $("#GroupId").val("").change();
            $("#UOMName").val("").change();
            $("#ItemQty").val("");
            $("#ItemRate").val("");
            $("#ItemValue").val("");
            $("#BalanceQty").val("");
            itemId = "";
        }

    </script>
}