@model BEEERP.Models.CommercialModule.Incoterm

@{
    ViewBag.Title = "Incoterm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    tbody tr:hover {
        background-color: dodgerblue;
        color: white;
    }

    .btn:hover {
        color: blue !important;
    }

    .btn:focus {
        background-color: aqua !important;
    }

    .select2-selection--single:focus {
        background-color: aqua !important;
    }
</style>
<div class="content">
    <div class="row">
        <div class="form-horizontal">
            <div class="box-body">
                <div>
                    <h4 style="color:red">@ViewBag.messege</h4>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="box ">
                            <div class="box-header with-border box-head-back" align="center">
                                <h3 class="box-title">Create Incoterm List</h3>
                            </div>
                            <div class="box-body">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.IncotermsId, "Incoterm No", new { @class = "col-md-4 control-label" })
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(m => m.IncotermsId, new { @class = "form-control digit", @Value = ViewBag.incotermNumber, })
                                        @Html.ValidationMessageFor(m => m.IncotermsId, "", new { @style = "color: red" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.IncotermName,"Incoterm Name", new { @class = "col-md-4 control-label" })
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(m => m.IncotermName, new { @class = "form-control", })
                                        @Html.ValidationMessageFor(m => m.IncotermName, "", new { @style = "color: red" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-8">
                                        <input type="button" name="save" id="save" value="Save" class="btn btn-primary" />
                                        <input type="button" name="update" id="update" value="Update" class="btn btn-primary" />
                                        <input type="button" name="Refresh" id="refresh" value="Refresh" class="btn btn-primary" />
                                    </div>
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="box ">
                <div class="box-header with-border box-head-back" align="center">
                    <h3 class="box-title">Incoterm List</h3>
                </div>
                <div class="box-body">
                    <table class="table table-responsive" id="incotermlist">
                        <thead>
                            <tr>
                                <th>Incoterm No</th>
                                <th>Incoterm Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var incoterm in ViewBag.incoterms)
                            {
                                <tr class='clickable-row' value="@incoterm.IncotermsId">
                                    <td>@incoterm.IncotermsId</td>
                                    <td>@incoterm.IncotermName</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{

    <script src="~/Scripts/Common.js"></script>
    <script src="~/Scripts/CommercialModule/IncotermInputFocus.js"></script>
    <script>
    $(document).ready(function () {
        IncotermFieldEnterPress();
        var addedItems = [];
        var message = "";
        $("#update").hide();
        $(document).on('click', '#save', function () {
            $("#save").prop('disabled', true);
                ValidateOnSaveClick();
                if (message == "") {
                    if (confirm("Do you want to save?")) {
                        var incoterm = { IncotermsId: 0, IncotermName: ""};
                        incoterm.IncotermsId = parseInt($("#IncotermsId").val());
                        incoterm.IncotermName = $("#IncotermName").val();
                         $.ajax
                            ({
                                url: '@Url.Action("SaveIncoterm", "Incoterm")',
                                 contentType: "application/json;charset=utf-8",
                                 data: JSON.stringify({ incoterm: incoterm }),
                                type: 'Post',
                                dataType: 'json',
                                success: function (datas) {
                                    if (datas.Message == "0") {
                                        alert("Critical Error! Please try Again. \n If retry doesn't solve your problem, then Contact With Paankouri Software & Services");
                                        $("#save").prop('disabled', false);
                                    }
                                    else if (datas.Message == "1") {
                                        alert("Sccessfully saved.")
                                        location.reload();
                                    }
                                    else if (datas.Message == "2") {
                                        alert("This Incoterms already Exist.");
                                        $("#save").prop('disabled', false);
                                    }

                                }
                            });
                    }

                }
        });
        $(".clickable-row").on('click', function (e) {
                var id = $(this).attr("value");
                 $.ajax({
                    url: '@Url.Action("GetIncotermsByIncotermsID", "Incoterm")',
                     contentType: "application/json;charset=utf-8",
                     data: JSON.stringify({ incotermId: id }),
                    type: 'POST',
                    dataType: 'json',
                    success: function (datas) {
                        if(datas==0)
                        {
                            alert("This Incoterm  doesn't exist.");
                        }
                        else {
                            $("#save").hide();
                            $("#update").show();
                            $("#IncotermsId").val(datas.incoterm.IncotermsId);
                            $("#IncotermName").val(datas.incoterm.IncotermName);
                        }
                    }
                });
        });
        $(document).on('click', '#update', function () {
            $("#update").prop('disabled', true);
                ValidateOnSaveClick();
                if (confirm("Do you want to update?"))
                {
                    if (message == "") {
                        var incoterm = { IncotermsId: 0, IncotermName: ""};
                        incoterm.IncotermsId = parseInt($("#IncotermsId").val());
                        incoterm.IncotermName = $("#IncotermName").val();
                         $.ajax
                            ({
                                url: '@Url.Action("UpdateIncoterm", "Incoterm")',
                                 contentType: "application/json;charset=utf-8",
                                 data: JSON.stringify({ incoterm: incoterm }),
                                type: 'Post',
                                dataType: 'json',
                                success: function (datas) {
                                    if (datas.Message == "0") {
                                        alert("Critical Error! Please try Again. \n If retry doesn't solve your problem, then Contact With Paankouri Software & Services");
                                        $("#update").prop('disabled', false);
                                    }
                                    else if (datas.Message == "1") {
                                        alert("Sccessfully updated.")
                                        location.reload();
                                    }
                                    else if (datas.Message == "2") {
                                        alert("This incoterm already Exist.");
                                        $("#update").prop('disabled', false);
                                    }

                                }
                            });
                    }

                }
        });
        //forNumberbox
        $(".digit").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                $("#errormsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });

        //validator
        function ValidateOnSaveClick() {

            message = "";
            if ($("#IncotermsId").val() == "") {
                setError("IncotermsId", "Incoterms ID is Required Field.");
                message = "IncotermsId is Required Field."
            }
            if ($("#IncotermName").val() == "") {
                setError("IncotermName", "Incoterm Name is Required Field.\n");
                message = "IncotermName  is Required Field."
            }
        }
        $(document).on('click', '#refresh', function () {
            location.reload();
        });
    });

    </script>

}
