@model BEEERP.Models.HRModule.Employee
@using BEEERP.Models.CommonInformation

@{
    ViewBag.Title = "Set Default Password";
}

<style>
    h3 {
        background: #F1C40F;
        border-radius: 8px;
    }
    /*h3 {
        background: #F5B041;
        border-radius: 8px;
    }*/
    /*box-title {
        background: #82E0AA;
        border-radius: 8px;
    }*/

    .btn {
        background-color: #2980B9;
        border: 2px solid groove;
        color: white;
        /*padding: 15px 32px;*/
        /*text-align: center;*/
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 8px;
        min-width: 80px;
        /*height: 12px;*/
    }

        .btn:hover {
            background-color: #82E0AA;
        }
</style>

<div class="row">
    <div>
        <div class="col-md-6">
            <h3 style="text-align:center">Create New User and Assign Role</h3>
        </div>
    </div>
</div>
<div class="content">
    <div class="row">
        <div class="form-horizontal">
            <div class="box-body">
                <div>
                    <h4 style="color:red">@ViewBag.messege</h4>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="box ">
                            <div class="box-header with-border box-head-back" style="background: #82E0AA; text-align: left;">
                                <h4 class="box-title">Set To Default</h4>
                            </div>
                            <div class="box-body">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.LogInUserName, "User Name", new { @class = "col-md-4 control-label" })
                                    <div class="col-sm-8">
                                        @Html.DropDownListFor(m => m.LogInUserName, (IEnumerable<SelectListItem>)ViewBag.LoginUserName, new { @class = "form-control select2" })
                                        @Html.ValidationMessageFor(m => m.LogInUserName, "", new { @style = "color: red" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Id, "Employee ID", new { @class = "col-md-4 control-label" })
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(m => m.Id, new { @class = "form-control", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(m => m.Id, "", new { @style = "color: red" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Name, "Name", new { @class = "col-md-4 control-label" })
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(m => m.Name, "", new { @style = "color: red" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.DesignationName, "Designation", new { @class = "col-md-4 control-label" })
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(m => m.DesignationName, new { @class = "form-control", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(m => m.DesignationName, "", new { @style = "color: red" })
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-footer">
                    <div class="form-group">
                        <div class="col-md-6" style="text-align:center;">
                            <input type="button" name="setDefault" id="setDefault" value="Set To Default" class="btn btn-primary" />
                            <input type="button" name="Refresh" id="refresh" value="Refresh" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



@section scripts{
    @*<script src="~/Scripts/DataAdminModule/StoreInputFocus.js"></script>*@
    <script>

        $(".select2").select2();
        $(document).ready(function () {

            $("#setDefault").hide();
            $("#setDefault").prop('disabled', true);
            $("#LogInUserName").focus();
            $(document).on('click', '#refresh', function () {
                location.reload();
            });
            
        });

        //update store
        $(document).on('click', '#setDefault', function () {
            var UserName = { userName: $("#LogInUserName").val() };

            $("#setDefault").prop('disabled', true);

            if (UserName.userName != "")
            {
                 $.ajax({
                      url: '@Url.Action("ChangeToDefault", "PasswordSetToDefault")',
                      contentType: "application/json;charset=utf-8",
                      data: UserName,
                      type: 'GET',
                      dataType: 'json',
                      success: function (datas){
                          if (datas.Message == 0) {
                              alert("Successfull");
                              location.reload();
                          }
                          else if (datas.Message == 2) {
                              alert("Not Successfull");
                              location.reload();
                          }     
                      }
                 }); 

            }
            else {
                
            }

        });

        $(document).on('change', "#LogInUserName", function () {
            var UserName = { userName: $(this).val() };

            if (UserName.userName != "") {
                  $.ajax({
                      url: '@Url.Action("GetUserInfo", "PasswordSetToDefault")',
                      contentType: "application/json;charset=utf-8",
                      data: UserName,
                      type: 'GET',
                      dataType: 'json',
                      success: function (datas){

                          if (datas.Message == 0)
                          {
                              $("#Id").val(datas.Id);
                              $("#Name").val(datas.Name);
                              $("#DesignationName").val(datas.Designation);
                              $("#setDefault").show();
                              $("#setDefault").prop('disabled', false);

                          }
                          else if (datas.Message == 2)
                          {
                              alert("No Employee Exist With This User Name");
                              $("#setDefault").hide();
                              $("#setDefault").prop('disabled', true);
                          }        
                      }
                  });
                    
            } else {
                $("#Id").val("");
                $("#Name").val("");
                $("#DesignationName").val("");
                $("#setDefault").hide();
                $("#setDefault").prop('disabled', true);
            }



        });






    </script>
}
