@using BEEERP.Models.Authentication
@using BEEERP.Models.CommonInformation
@model BEEERP.Models.ViewModel.Payroll.EmployeePromotionVModel
@{
    ViewBag.Title = "EmployeePromotion";
}

<style>
    h3 {
        background: #F1C40F;
        border-radius: 8px;
    }

    .btn {
        background-color: #2980B9;
        border: 2px solid groove;
        color: white;
        border-radius: 8px;
        min-width: 80px
    }

        .btn:hover {
            background-color: #82E0AA;
            color: #02110E;
        }



    .select2-selection--single:focus {
        background-color: aqua !important;
    }
</style>
<h3 style="text-align:center">Employee Promotion</h3>
<div class="content">
    <div class="row">
        <div class="form-horizontal">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box ">
                            <div class="box-header with-border box-head-back" style="background: #82E0AA; text-align: left;">
                                <h5 class="box-title">Promotion Details</h5>
                            </div>
                            <div class="box-body">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.PromotionID, "Promotion ID ", new { @class = "col-md-4 control-label" })
                                            <div class="col-sm-8 input-group" style="padding-left:15px; padding-right:15px">
                                                @Html.TextBoxFor(m => m.PromotionID, new { @class = "form-control", @disabled = "disabled" })
                                                @Html.ValidationMessageFor(m => m.PromotionID, "", new { @style = "color: red" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.EmployeeID, new { @class = "col-md-4 control-label" })
                                            <div class="col-sm-8 input-group" style="padding-left:3%; padding-right:3%;">
                                                @Html.DropDownListFor(m => m.EmployeeID, (IEnumerable<SelectListItem>)ViewBag.Employee, new { @class = "form-control select2" })
                                            </div>
                                            <div class="col-md-4"></div>
                                            <div class="col-md-8">
                                                @Html.ValidationMessageFor(m => m.EmployeeID, "", new { @style = "color: red" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.EffectiveDate, "Effective From", new { @class = "col-md-4 control-label" })
                                            <div class="col-sm-7 input-group" style="padding-left:3%; padding-right:3%">
                                                @Html.TextBoxFor(m => m.EffectiveDate, new { @class = "form-control date", @Value = DateTime.Now.ToString("dd-MM-yyyy") })
                                                @Html.ValidationMessageFor(m => m.EffectiveDate, "", new { @style = "color: red" })
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.OGrade, "Grade", new { @class = "col-md-4 control-label" })
                                            <div class="col-sm-8 input-group" style="padding-left:15px; padding-right:15px">
                                                @Html.TextBoxFor(m => m.OGrade, new { @class = "form-control", @disabled = "disabled" })
                                                @Html.ValidationMessageFor(m => m.OGrade, "", new { @style = "color: red" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.ODesignation, "Designation", new { @class = "col-md-4 control-label" })
                                            <div class="col-sm-8 input-group" style="padding-left:15px; padding-right:15px">
                                                @Html.TextBoxFor(m => m.ODesignation, new { @class = "form-control", @disabled = "disabled" })
                                                @Html.ValidationMessageFor(m => m.ODesignation, "", new { @style = "color: red" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.OFuncDesignation, "Functional Designation", new { @class = "col-md-4 control-label" })
                                            <div class="col-sm-8 input-group" style="padding-left:15px; padding-right:15px">
                                                @Html.TextBoxFor(m => m.OFuncDesignation, new { @class = "form-control", @disabled = "disabled" })
                                                @Html.ValidationMessageFor(m => m.OFuncDesignation, "", new { @style = "color: red" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2"></div>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="box-body" style="padding-right:10%;padding-left:0%">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.NGrade, "New Grade", new { @class = "col-md-4 control-label" })
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.NGrade, (IEnumerable<SelectListItem>)ViewBag.GradeList, new { @class = "form-control select2" })
                                            @Html.ValidationMessageFor(m => m.NGrade, "", new { @style = "color: red" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.NDesignation, "New Designation", new { @class = "col-md-4 control-label" })
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.NDesignation, (IEnumerable<SelectListItem>)ViewBag.DesignationList, new { @class = "form-control select2" })
                                            @Html.ValidationMessageFor(m => m.NDesignation, "", new { @style = "color: red" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.NFuncDesignation, "New FD", new { @class = "col-md-4 control-label" })
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.NFuncDesignation, (IEnumerable<SelectListItem>)ViewBag.FunctionalDesignationList, new { @class = "form-control select2" })
                                            @Html.ValidationMessageFor(m => m.NFuncDesignation, "", new { @style = "color: red" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.PRefNO, "Reference NO", new { @class = "col-md-5 control-label" })
                                        <div class="col-sm-7">
                                            @Html.TextBoxFor(m => m.PRefNO, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.PRefNO, "", new { @style = "color: red" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.PDescription, "Description", new { @class = "col-md-5 control-label" })
                                        <div class="col-sm-7">
                                            @Html.TextBoxFor(m => m.PDescription, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.PDescription, "", new { @style = "color: red" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                        <div style="background-color:white; ">
                            <div class="form-group">
                                <div class="col-md-2"></div>
                                <div class="col-md-8" style="text-align:center;">
                                    <input type="button" value="Save" id="save" class="btn skin-blue" style="padding-left:20px;" />
                                    <input type="button" name="update" id="update" value="Update" class="btn skin-blue" />
                                    @*<input type="button" name="delete" id="delete" value="Delete" class="btn skin-blue" />*@
                                    <input type="button" name="refresh" id="refresh" value="Refresh" class="btn skin-blue" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/Common.js"></script>
    @*<script src="~/Scripts/Procurement/EmployeeArrearEntry.js"></script>*@
    <script>
        $('.date').datepicker({
        autoclose: true,
        format: 'dd-mm-yyyy',
        });
        var isValid = true;
        var Promotion = { PromotionID: 0, EmployeeID: 0, EffectiveDate: "", OldDesignationName: "", NewDesignationID: 0, OldFuncDesignationName: "", NewFuncDesignationID: 0, OldGradeName: "", NewGrade:0, PRefNO: "", PDescription: "" };
        var OGradeName = "";
    $(document).ready(function () {
        $(".select2").select2();
        $("#update").hide();
        $("#delete").hide();
        $("#EmployeeID").focus();
        });

    //EnterPress();
        $(document).on('click', "#refresh", function () {
    RemoveError();
    Refresh();
        $("#Save").prop('disabled', false);
        });



    //item change reaction
    $(document).on('change', "#EmployeeID", function () {
        RemoveError();
        ClearOnSearch();
        var id = { empId: $("#EmployeeID").val() };

        if (id.empId != "") {
            $.ajax({
                url: '@Url.Action("GetEmployeeDetails", "EmployeePromotion")',
                contentType: "application/json;charset=utf-8",
                data: id,
                type: 'GET',
                dataType: 'json',
                success: function (datas) {
                    if (datas.message != 0) {
                        $("#PromotionID").val(datas.isExist.PromotionID);
                        $("#ODesignation").val(datas.ODesignation);
                        $("#OFuncDesignation").val(datas.OFuncDesignation);
                        $("#OGrade").val(datas.OGrade);
                        $("#EffectiveDate").val((moment(datas.isExist.EffectiveDate).format("DD-MM-YYYY")));
                        $("#NGrade").val(datas.isExist.NewGrade).trigger("change");
                        $("#NDesignation").val(datas.isExist.NewDesignationID).trigger("change");
                        $("#NFuncDesignation").val(datas.isExist.NewFuncDesignationID).trigger("change");
                        $("#PDescription").val(datas.isExist.PDescription);
                        $("#PRefNO").val(datas.isExist.PRefNO);
                        if (datas != "") {
                            $("#save").hide();
                            $("#update").show();
                            $("#delete").show();
                        }
                    }
                    else {
                        $("#save").show();
                        $("#ODesignation").val(datas.ODesignation);
                        $("#OFuncDesignation").val(datas.OFuncDesignation);
                        $("#OGrade").val(datas.OGrade);
                    }
                }
            });
        }
        else {
            setError("EmployeeID", "EmployeeID is required for get data.");
        }
        });

        //save code
    $(document).on('click', '#save', function () {
        RemoveError();
        $("#save").prop('disabled', false);
        SetEmployeePromotion();
        ValidateEmployeePromotion();
        if (isValid == true) {
            if (confirm('Do you want to save?')) {
                $.ajax({
                    url: '@Url.Action("SaveEmployeePromotion", "EmployeePromotion")',
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify({ Promotion: Promotion }),
                    type: 'POST',
                    dataType: 'json',
                    success: function (datas) {
                        if (datas == 0) {
                            alert("Failed To Saved.");
                            $("#save").prop('disabled', false);
                        }
                        else {
                            alert("Sucessfully Saved.");
                            $("#save").prop('disabled', true);
                            location.reload();
                        }
                    }
                });
            }
            else {
                $("#save").prop('disabled', false);
            }
        }
        else {
            $("#save").prop('disabled', false);
        }
        });

        //update
    $(document).on('click', '#update', function () {
        RemoveError();
        $("#update").prop('disabled', true);
        $("#delete").prop('disabled', true);
        SetEmployeePromotion();
        ValidateEmployeePromotion();
        if (confirm('Do you want to Update?')) {
            if (isValid == true) {
                $.ajax({
                    url: '@Url.Action("UpdateEmployeePromotion", "EmployeePromotion")',
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify({ Promotion: Promotion }),
                    type: 'POST',
                    dataType: 'json',
                    success: function (datas) {
                        if (datas == 0) {
                            alert("Failed To Update.");
                            $("#update").prop('disabled', false);
                            $("#delete").prop('disabled', false);
                        }
                        else {
                            alert("Sucessfully Updated.");
                            $("#update").prop('disabled', true);
                            location.reload();
                        }
                    }
                });
            }
            else {
                $("#update").prop('disabled', false);
                $("#delete").prop('disabled', false);
            }
        }
        else {
            $("#update").prop('disabled', false);
            $("#delete").prop('disabled', false);
        }

        });

        @*//delete code
    $(document).on('click', '#delete', function () {
        $("#update").prop('disabled', true);
        $("#delete").prop('disabled', true);
        var id = $("#EmployeeID").val();
        if (confirm('Are you sure you want to delete this from the database?')) {
            $.ajax({
                url: '@Url.Action("DeleteEmployeeTransfer", "EmployeeTransfer")',
                contentType: "application/json;charset=utf-8",
                data: { Transfer: id },
                type: 'GET',
                dataType: 'json',
                success: function (datas) {
                    if (datas == 0) {
                        alert("Delete failed.");
                        $("#delete").prop('disabled', false);
                        $("#update").prop('disabled', false);
                    }
                    else {
                        alert("Delete Successfull");
                        location.reload();
                    }
                }
            });
        }
        else {
            $("#update").prop('disabled', false);
            $("#delete").prop('disabled', false);
        }
    });*@
        function SetEmployeePromotion() {
            Promotion.PromotionID = $("#PromotionID").val();
            Promotion.EmployeeID = $("#EmployeeID").val();
            Promotion.EffectiveDate = $("#EffectiveDate").val();
            Promotion.OldDesignationName = $("#ODesignation").val();
            Promotion.NewDesignationID = $("#NDesignation").val();
            Promotion.OldFuncDesignationName = $("#OFuncDesignation").val();
            Promotion.NewFuncDesignationID = $("#NFuncDesignation").val();
            Promotion.OldGradeName = $("#OGrade").val();
            Promotion.NewGrade = $("#NGrade").val();
            Promotion.PRefNO = $("#PRefNO").val();
            Promotion.PDescription = $("#PDescription").val();
        }

        function ValidateEmployeePromotion() {
            isValid = true;
            if (Promotion.EmployeeID == "") {
                setError("EmployeeID", "Employee ID is required field.");
                isValid = false;
            }
            if (Promotion.EffectiveDate == "") {
                setError("EffectiveDate", "Date is required field.");
                isValid = false;
            }
            if (Promotion.NewGrade == "") {
                setError("NGrade", "New Grade is required field.");
                isValid = false;
            }
            if (Promotion.NewDesignationID == "") {
                setError("NDesignation", "New Designation is required field.");
                isValid = false;
            }
            if (Promotion.NewFuncDesignationID == "") {
                setError("NFuncDesignation", "New FD is required field.");
                isValid = false;
            }
        }
        function ClearOnSearch() {
            $("#PromotionID").val("");
            $("#ODesignation").val("");
            $("#EffectiveDate").val("");
            $("#NDesignation").val("").change();
            $("#OFuncDesignation").val("");
            $("#NFuncDesignation").val("").change();
            $("#OGrade").val("");
            $("#NGrade").val("").change();
            $("#PRefNO").val("");
            $("#PDescription").val("");
        }
        function Refresh() {
            //$("#EmployeeID").val("");
            //$("#TransferID").val("");
            //$("#EffectiveDate").val("");
            //$("#PresentBranch").val("");
            //$("#PreviousBranch").val("");
            location.reload();
        }
    </script>
}

