@model BEEERP.Models.ViewModel.SpareParts.QualityControlVModel

@{
    ViewBag.Title = "QualityControl";
}

<style>
    h3 {
        background: #F1C40F;
        border-radius: 8px;
    }

    .btn {
        background-color: #2980B9;
        border: 2px solid groove;
        color: white;
        border-radius: 8px;
        min-width: 80px
    }

        .btn:hover {
            background-color: #82E0AA;
            color: #02110E;
        }

    .select2-selection--single:focus {
        background-color: aqua !important;
    }
</style>
<h3 style="text-align:center">Quality Control (QC) Entry</h3>
<form id="lcrnForm" , target="_blank">
    <div class="content">
        <div class="row">
            <div class="form-horizontal">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box ">
                                <div class="box-header with-border box-head-back" style="background: #82E0AA; text-align: left;">
                                    <h6 class="box-title">QR Details</h6>
                                </div>
                                <div class="box-body">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.QcNo, "QC No", new { @class = "col-md-4 control-label" })
                                            <div class="input-group input-group-sm col-md-8" style="padding-right:19px;padding-left:14px;">
                                                @Html.TextBoxFor(m => m.QcNo, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.QcNo, "", new { @style = "color: red" })
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-primary" id="search" style="min-width: 50px">Search</button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.QcDate, "Date", new { @class = "col-md-4 control-label" })
                                            <div class="col-sm-8 date input-group" style="padding-left:15px; padding-right:15px">
                                                @Html.TextBoxFor(m => m.QcDate, new { @class = "form-control date", @Value = DateTime.Now.ToString("dd-MM-yyyy") })
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                @Html.ValidationMessageFor(m => m.QcDate, "", new { @style = "color: red" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        @*<div class="form-group">
                                            @Html.LabelFor(m => m.LCRNNo, "MR No", new { @class = "col-md-4 control-label" })
                                            <div class="input-group input-group-sm col-md-8" style="padding-right:19px;padding-left:14px;">
                                                @Html.TextBoxFor(m => m.LCRNNo, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.LCRNNo, "", new { @style = "color: red" })
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-primary" id="go" style="min-width: 50px">Go</button>
                                                </span>
                                            </div>
                                        </div>*@
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.LCRNNo, "MR No", new { @class = "col-md-4 control-label" })
                                            <div class="col-sm-8">
                                                @Html.DropDownListFor(m => m.LCRNNo, (IEnumerable<SelectListItem>)ViewBag.MRNo, new { @class = "form-control select2" })
                                                @Html.ValidationMessageFor(m => m.LCRNNo, "", new { @style = "color: red" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(m => m.CompanyID, "Company", new { @class = "col-md-4 control-label" })
                                            <div class="col-sm-8">
                                                @Html.DropDownListFor(m => m.CompanyID, (IEnumerable<SelectListItem>)ViewBag.Company, "", new { @class = "form-control", @ReadOnly = "ReadOnly" })
                                                @Html.ValidationMessageFor(m => m.CompanyID, "", new { @style = "color: red" })
                                            </div>
                                        </div>
                                    </div> 

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.ReferenceNo, "Reference No", new { @class = "col-md-4 control-label" })
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(m => m.ReferenceNo, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.ReferenceNo, "", new { @style = "color: red" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Description, "Description", new { @class = "col-md-4 control-label" })
                                            <div class="col-sm-8">
                                                @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Description, "", new { @style = "color: red" })
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="box ">
                            <div class="box-header with-border box-head-back" style="background: #82E0AA; text-align: left;">
                                <h6 class="box-title">Item Info</h6>
                            </div>
                            <table class="table table-responsive" id="lcGrid1">
                                <thead>
                                    <tr>
                                        <th>Group Name</th>
                                        <th>Item Name</th>
                                        <th> Quantity</th>
                                        <th>Rate</th>
                                        <th>Value</th>
                                        <th id="action">Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="box ">
                            <div class="box-header with-border box-head-back" style="background: #82E0AA; text-align: left;">
                                <h6 class="box-title">Import Material Receive Info</h6>
                            </div>
                            <div class="box-body">
                                <div class="col-md-4">

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.GroupName, "Group", new { @class = "col-md-4 control-label" })
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.GroupName, new { @class = "form-control", @ReadOnly = "ReadOnly" })
                                            @Html.ValidationMessageFor(m => m.GroupName, "", new { @style = "color: red" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ItemID, "Item", new { @class = "col-md-4 control-label" })
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.ItemID, (IEnumerable<SelectListItem>)ViewBag.item, "", new { @class = "form-control", @ReadOnly = "ReadOnly" })
                                            @Html.ValidationMessageFor(m => m.ItemID, "", new { @style = "color: red" })
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Qty, "Quantity", new { @class = "col-md-4 control-label" })
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.Qty, new { @class = "form-control", @ReadOnly = "ReadOnly" })
                                            @Html.ValidationMessageFor(m => m.Qty, "", new { @style = "color: red" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.CostRt, "Rate", new { @class = "col-md-4 control-label" })
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.CostRt, new { @class = "form-control", @ReadOnly = "ReadOnly" })
                                            @Html.ValidationMessageFor(m => m.CostRt, "", new { @style = "color: red" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.CostVal, "Value", new { @class = "col-md-4 control-label" })
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.CostVal, new { @class = "form-control", @type = "number", @ReadOnly = "ReadOnly" })
                                            @Html.ValidationMessageFor(m => m.CostVal, "", new { @style = "color: red" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.QcQty, "Quality Qty", new { @class = "col-md-4 control-label" })
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.QcQty, new { @class = "form-control", @type = "number" })
                                            @Html.ValidationMessageFor(m => m.QcQty, "", new { @style = "color: red" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-body">
                                <div class="form-group" style="text-align:center;padding-top:10px">
                                    <button type="button" id="addToGrid" name="addToGrid" style="height:33px;font-size:13px;" class="btn btn-primary">Add To Grid</button>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="box ">
                            <div class="box-header with-border box-head-back" style="background: #82E0AA; text-align: left;">
                                <h6 class="box-title">QC Item Info</h6>
                            </div>
                            <table class="table table-responsive" id="itemGrid">
                                <thead>
                                    <tr>
                                        <th>Group Name</th>
                                        <th>Item Name</th>
                                        <th>Qty</th>
                                        <th>Quality Qty</th>
                                        <th>Rate</th>
                                        <th>Value</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>


                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-footer">
                                <div class="form-group" , style="text-align:center">
                                    @if (User.IsInRole("StoreRMOperator"))
                                    {
                                        <button type="button" id="save" style="height:500%; font-size:100%;" class="btn btn-primary">Save</button>
                                        <button type="button" id="update" style="height:500%; font-size:100%;" class="btn btn-primary" disabled>Update</button>
                                        <button type="button" id="delete" style="height:500%; font-size:100%;" class="btn btn-primary" disabled>Delete</button>
                                        <button type="button" id="refresh" style="height:500%; font-size:100%;" class="btn btn-primary">Refresh</button>
                                        <button name="print" id="print" style="height:500%; font-size:100%;" class="btn btn-primary">Print</button>
                                    }
                                    else
                                    {
                                        <button type="button" id="save" style="height:500%; font-size:100%;" class="btn btn-primary">Save</button>
                                        <button type="button" id="update" style="height:500%; font-size:100%;" class="btn btn-primary">Update</button>
                                        <button type="button" id="delete" style="height:500%; font-size:100%;" class="btn btn-primary">Delete</button>
                                        <button type="button" id="refresh" style="height:500%; font-size:100%;" class="btn btn-primary">Refresh</button>
                                        <button name="print" id="print" style="height:500%; font-size:100%;" class="btn btn-primary">Print</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>

@section scripts{
  <script src="~/Scripts/StoreRM/LCRNInputFocus.js"></script>
  <script>
    $(document).ready(function () {
        $(".select2").select2();
        EnterPress();
        $('.date').datepicker({
            autoclose: true,
            format: 'dd-mm-yyyy',
        });
        $("#ReceiveQty").val(parseFloat(0));
        $("#Rate").val(parseFloat(0));
        $("#update").hide();
        $("#delete").hide();
        $("#clnoField").hide();
        $("#print").hide();
        $("#havetoreceive").hide();
       // $("#StoreId").prop('disabled', true);
        $("#BoxID").prop('disabled', true);
        $("#UOMId").prop('disabled', true);
        $("#HaveToRecev").prop('disabled', true);
        $("#Value").prop('disabled', true);
       // $("#StoreId").val('@ViewBag.FactoryRM').change();
        var isSearch = false;
        var addedItems = [];
        var addedItems1 = [];
        var isValid = true;
        var lcID = 0;
        var GroupID = 0;
        var SupplierID = 0;
        var isEdit = false;
        var table = $('#lcGrid1').DataTable({
            'paging': true,
            'lengthChange': false,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false
        });
        var table1 = $("#itemGrid").DataTable({
            'paging': true,
            'lengthChange': false,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false
        });

        @*$(document).on('change', "#GrpId", function () {
            var id = { id: $("#GrpId").val()};
            $.ajax({
                url: '@Url.Action("GetSupplierIdByGroup", "MRRGoodsReceiveNote")',
                contentType: "application/json;charset=utf-8",
                data: id,
                type: 'GET',
                dataType: 'json',
                success: function (data) {

                    $("#SupplierId").empty();
                    $.each(data.supplier, function (index, value) {
                        $("#SupplierId").append($('<option />', {
                            value: value.Value,
                            text: value.Text
                        }));
                    });
                    if (isSearch == true) {
                        $("#SupplierId").val(SupplierID).change();
                        SupplierID = 0;
                    }
                },
                error: function () {
                    alert("Please check your internet connection first. If this doesn't solve your problem, then Contact With Paankouri Software & Services");
                }
            });
        });*@
        @*$(document).on('change', "#SupplierId", function () {
            var splierId = { splierId: $("#SupplierId").val()};
            $.ajax({
                url: '@Url.Action("GetLCBySupplierId", "MRRGoodsReceiveNote")',
                contentType: "application/json;charset=utf-8",
                data: splierId,
                type: 'GET',
                dataType: 'json',
                success: function (data) {

                    $("#LCId").empty();
                    $.each(data.lc, function (index, value) {
                        $("#LCId").append($('<option />', {
                            value: value.Value,
                            text: value.Text
                        })).trigger('change');
                    });
                    if (isSearch == true) {
                        $("#LCId").val(lcID).change();
                        //lcID = 0;
                    }
                },
            });
        });*@
        var addedItems1 = [];
        $(document).on('change', '#LCId', function () {
            var lcId = { lcId: $("#LCId :selected").text() };
            if (lcId.lcId != "") {
                $.ajax({
                url: '@Url.Action("GetLCItems", "MRRGoodsReceiveNote")',
                contentType: "application/json;charset=utf-8",
                    data: lcId,
                type: 'GET',
                dataType: 'json',
                    success: function (datas) {
                        //$("#ItemId").empty();
                        $.each(datas.lcItem, function (i, v) {
                            var item = { GNM: "", GID: 0, NM: "", IID: 0, QT: 0.0, RQT: 0.0, HQT: 0.0, UM: "",UMId:0 }
                            item.GNM = v.GNM;
                            item.GID = v.GID;
                            item.NM = v.NM;
                            item.IID = v.IID;
                            item.QT = v.QT;
                            //item.RQT = v.RQT;
                            //item.HQT = v.HQT;
                            item.UM = v.UM;
                            item.UMId = v.UMId;
                            addedItems1.push(item);
                        });
                        ShowOnTableItems();
                },
                error: function () {
                    alert("Please check your internet connection first. If this doesn't solve your problem, then Contact With Paankouri Software & Services");
                }
                });

            }
        });

        function ShowOnTableItems() {

            table1.clear().draw();
            $.each(addedItems1, function (index, value) {
                table1.row.add([value.GroupName, value.ItemName, value.Qty, value.QcQty, value.CostRt, value.CostVal,
                '<a href="#"><i class="fa fa-edit" name="editRow1" value="' +
                value.ItemID + '"></i></a> ']).draw();

            });
        }



            var boxId;

            //Box change reaction
            $(document).on('change', "#StoreId", function () {

            $("#BoxID").prop('disabled', false);
                var id = { id: parseInt( $(this).val()) };
                if (id.id != "") {
                    $.ajax({
                        url: '@Url.Action("GetBoxByBatchID", "SpOpeningBalance")',
                        contentType: "application/json;charset=utf-8",
                        data: id,
                        type: 'GET',
                        dataType: 'json',
                        success: function (datas) {

                            $("#BoxID").empty();
                            $("#BoxID").prop("disabled", false);
                            $.each(datas, function (index, value) {
                                $("#BoxID").append($('<option />', {
                                    value: value.Value,
                                    text: value.Text
                                })).trigger('change');
                            });
                            $("#BoxID").focus();
                            if (boxId != "") {
                                $("#BoxID").val(boxId).change();
                                boxId = "";
                            }
                        }
                    });
                }
                        else {
                                $("#BoxID").val("").change();
                                $("#BoxID").prop("disabled", true);
                             }
            });

            $(document).on('change', "#QcQty", function () {


                var qt = $("#QcQty").val() == "" ? 0 : parseFloat($("#QcQty").val());
                var rt = $("#CostRt").val() == "" ? 0 : parseFloat($("#CostRt").val());

                $("#CostVal").val(qt * rt);


                //calculateTotalAmount();
            });


        $(document).on('click', "#addToGrid", function () {
            RemoveError();
            ValidationOnaddClick();
            if (isValid == true) {

                var item = { GroupName: "", ItemID: 0, ItemName: "", Qty: 0.0, QcQty: 0.0, CostRt: 0.0, CostVal: 0.0 }
                item.GroupName = $("#GroupName").val();
                item.ItemID = $("#ItemID").val();
                item.ItemName = $("#ItemID :selected").text();
                item.Qty = parseFloat($("#Qty").val())
                item.QcQty = parseFloat($("#QcQty").val())
                item.CostRt = parseFloat($("#CostRt").val())
                item.CostVal = parseFloat($("#CostVal").val())
                addedItems1.push(item);
                ShowOnTableItems();
                clearOnAdd();
                //clearOnSearch();
            }
        });
        $(document).on('click', '[name="deleteRow"]', function () {
            var item = $(this).attr("value");
            if (confirm('Are you sure you want to delete this from grid ?')) {
                var newItem = [];
                $.each(addedItems, function (index, value) {
                    if (value.ItemID == item) {

                    }
                    else {
                        newItem.push(value);
                    }
                });
                addedItems = newItem;
                ShowOnTable();
            }
        });


        $(document).on('click', '[name="editRow"]', function (e) {
            isEdit = true;
            var item = $(this).attr("value");
            var newItem = [];
            var tQTY = 0.0;
            $.each(addedItems, function (index, value) {
                if (value.ItemID == item) {
                    $("#GroupName").val(value.GroupName);
                    $("#ItemID").val(value.ItemID).change();
                    $("#Qty").val(value.Qty);
                    $("#CostRt").val(value.CostRt);
                    $("#CostVal").val(value.CostVal);
                }
                else {
                    newItem.push(value);
                }
                addedItems = newItem;
                ShowOnTable();

            });
            
        });


        $(document).on('click', '[name="editRow1"]', function (e) {
            isEdit = true;
            var item = $(this).attr("value");
            var newItem = [];
            $.each(addedItems1, function (index, value) {
                if (value.ItemID == item) {

                    $("#GroupName").val(value.GroupName);
                    $("#ItemID").val(value.ItemID).change();
                    $("#Qty").val(value.Qty);
                    $("#QcQty").val(value.QcQty);
                    $("#CostRt").val(value.CostRt);
                    $("#CostVal").val(value.CostVal);
                    $("#AvailableQty").val((parseFloat($("#Qty").val()) - parseFloat($("#ReceivedQty").val())));
                }
                else {
                    newItem.push(value);
                }
                addedItems1 = newItem;
                ShowOnTableItems();
            });

        });
        $(document).on('click', "#save", function () {
            ValidationOnSaveClick();
            if (isValid == true) {
                if (confirm("Do you want to save?")) {
                    var lcrn = { QcNo: 0, QcDate: "", CompanyID:0, LCRNNo: 0,  ReferenceNo: "", Description: ""  };
                    lcrn.QcNo = 0;
                    lcrn.QcDate = $("#QcDate").val();
                    lcrn.LCRNNo = $("#LCRNNo").val();
                    lcrn.CompanyID = parseInt($("#CompanyID").val());
                    lcrn.ReferenceNo = $("#ReferenceNo").val();
                    lcrn.Description = $("#Description").val();
                    //lcrn.TotalQty = parseFloat($("#TotalQty").val());
                    $.ajax({
                        url: '@Url.Action("SaveQualityControl", "QualityControl")',
                        contentType: "application/json;charset=utf-8",
                        data: JSON.stringify({ lcrn: lcrn, addedItems1: addedItems1 }),
                        type: 'POST',
                        dataType: 'json',
                        success: function (datas) {
                            if (datas == 0) {
                                alert("Failed To Saved.");
                                $("#save").prop('disabled', false);
                            }
                            else {
                                alert("Sucessfully Saved.");
                                $("#QcNo").val(datas.lcrnNo);
                                $("#save").prop('disabled', true);
                            }
                        }
                    });

                }
            }



        });
        $(document).on('click', "#update", function () {
            ValidationOnSaveClick();
            if (confirm("Do you want to update?")) {
                var lcrn = { QcNo: 0, QcDate: "", CompanyID:0, LCRNNo: "", ReferenceNo: "", Description: "" };
                lcrn.QcNo = $("#QcNo").val();;
                lcrn.QcDate = $("#QcDate").val();
                lcrn.LCRNNo = $("#LCRNNo").val();
                lcrn.CompanyID = parseInt($("#CompanyID").val());
                lcrn.ReferenceNo = $("#ReferenceNo").val();
                lcrn.Description = $("#Description").val();
                lcrn.TotalQty = parseFloat($("#TotalQty").val());
                $.ajax({
                        url: '@Url.Action("UpdateQualityControl", "QualityControl")',
                        contentType: "application/json;charset=utf-8",
                        data: JSON.stringify({ lcrn: lcrn, addedItems1: addedItems1 }),
                        type: 'POST',
                        dataType: 'json',
                        success: function (data) {
                            if (data == 0) {
                                alert("QC No is not exist");
                                $("#update").prop('disabled', false);
                            }
                            else if (data==1) {
                                alert("successfully updated");
                                $("#update").prop('disabled', true);
                            }
                            else {
                                alert("Please check your internet connection first. If this doesn't solve your problem, then Contact With Paankouri Software & Services");
                            }
                        }
                });
            }

        });
        $(document).on('click', '#delete', function () {
            var lcrnNo = { lcrnNo: $("#QcNo").val() };
            if (confirm('Do you want to Delete')) {
                $.ajax({
                    url: '@Url.Action("DeleteQualityControl", "QualityControl")',
                    contentType: "application/json;charset=utf-8",
                    data: lcrnNo,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        if (data == 0) {
                            alert("No LCRN is found to be deleted");
                        } else if (data == 2) {
                            alert("Please check your internet connection first. If this doesn't solve your problem, then Contact With Paankouri Software & Services");
                        } else {
                            alert("Successfully deleted");
                            location.reload();
                        }
                    },

                });
            }
        });



        $(document).on('click', "#search", function () {

            if ($("#QcNo").val() == "") {
                alert("Please enter a LCRN No first");
            } else {
                isSearch = true;
                var lcrnNo = { lcrnNo: $("#QcNo").val() };
                clearOnSearch();
                $.ajax({
                    url: '@Url.Action("GetQualityControl", "QualityControl")',
                    contentType: "application/json;charset=utf-8",
                    data: lcrnNo,
                    type: 'GET',
                    dataType: 'json',
                    success: function (datas) {
                        if (datas.Message == 0) {
                            alert("It does not exist");
                        }
                        else if (datas.Message == 2) {
                            alert("Fatal Error");
                        }
                        else {
                            $("#save").hide();
                            $("#update").show();
                            $("#delete").show();
                            $("#print").show();
                            $("#QcNo").val(datas.lcrn.QcNo);
                            $("#QcDate").val((moment(datas.lcrn.QcDate).format("DD-MM-YYYY"))).change();
                            $("#LCRNNo").val(datas.lcrn.LCRNNo);
                            $("#CompanyID").val(datas.lcrn.CompanyID).change();
                            $("#ReferenceNo").val(datas.lcrn.ReferenceNo);
                            $("#Description").val(datas.lcrn.Description);
                            $.each(datas.lcrnlineitem, function (i, v) {
                                var item = { GroupName: "", ItemID: 0, ItemName: "", Qty: 0.0, QcQty:0, CostRt: 0, CostVal: 0 }
                            item.GroupName = v.GroupName;
                            item.ItemID = v.ItemID;
                            item.ItemName = v.ItemName;
                            item.Qty = v.Qty;
                            item.QcQty = v.QcQty;
                            item.CostRt = v.CostRt;
                            item.CostVal = v.CostVal;
                            addedItems1.push(item);
                            ShowOnTableItems();
                            });
                        }
                    }
                });

            }
        });

        //GO Button

        $(document).on('change', "#LCRNNo", function () {

            // if ($("#LCRNNo").val() == "") {
            //    alert("Please enter a MR No first");
            //} else {
                isSearch = true;
                 var lcrnNo = { lcrnNo: $("#LCRNNo").val() };
                clearOnSearch();
                $.ajax({
                    url: '@Url.Action("GetIMRByIMRNo", "QualityControl")',
                    contentType: "application/json;charset=utf-8",
                    data: lcrnNo,
                    type: 'GET',
                    dataType: 'json',
                    success: function (datas) {
                        if (datas.Message == 0) {
                            alert("It does not exist");
                        }
                        else if (datas.Message == 2) {
                            alert("Fatal Error");
                        }
                        else {

                            $("#CompanyID").val(datas.lcrn.CompanyID).change();

                            $("#ItemID").val(datas.lcrn.ItemID).change();
                            $.each(datas.lcrnlineitem, function (i, v) {
                                var item = { GroupID: 0, GroupName: "", ItemID: 0, ItemName: "", Qty: 0.0, CostRt: 0, CostVal:0 }
                            item.GroupID = v.GroupID;
                            item.GroupName = v.GroupName;
                            item.ItemID = v.ItemID;
                            item.ItemName = v.ItemName;
                            item.Qty = v.Qty;
                            item.CostRt = v.CostRt;
                            item.CostVal = v.CostVal;
                            addedItems.push(item);
                            ShowOnTable();
                            });
                        }
                    }
                });

            /*}*/
        });
        function ShowOnTable() {
            table.clear().draw();
            var totalQuantity = 0;
            $.each(addedItems, function (index, value) {
                table.row.add([value.GroupName, value.ItemName, value.Qty, value.CostRt, value.CostVal,
            '<a href="#"><i class="fa fa-edit" name="editRow" value="' +
                    value.ItemID + '"></i></a> &ensp;&ensp;&ensp;<a href="#"><i class="fa fa-trash" name="deleteRow" value="' + value.ItemID + '"></i></a>']).draw();

                $.each(addedItems, function (i, v) {
                    totalQuantity += v.Qty;
                });

            });
            $("#TotalQty").val(totalQuantity);
        }


        $(document).on('click', "#refresh", function () { location.reload(); });
        function ValidationOnSaveClick() {
            isValid = true;
            //if ($("#ChallanNo").val() == "") {
            //    setError("ChallanNo", "Challan No  is required field");
            //    isValid = false;
            //}

            //if (addedItems.length<= 0) {
            //    alert("At list an Item should be added in the grid bellow");
            //    isValid = false;
            //}
        }
        function ValidationOnaddClick() {
            isValid = true;
            if ($("#ItemId").val() == "") {
                setError("ItemId", "Item  is required field");
                isValid = false;
            }
            if ($("#QcQty").val() == "") {
                setError("QcQty", "Quality Quantity is required field");
                isValid = false;
            }



            var item = $("#ItemId").val();
            $.each(addedItems, function (i, v) {
                if (item == v.ItemID) {
                    alert("The item is already added");
                    isValid = false;
                }
            });
            //if (isSearch == true) {
            //    if (parseFloat($("#AvailableQty").val()) + parseFloat($("#ReceivedQty").val()) < parseFloat($("#ReceiveQty").val())) {
            //        alert("Your receive quantity should be equal to  or less than LC quantity");
            //        isValid = false;
            //    }
            //} else {
            //    if (parseFloat($("#AvailableQty").val()) < parseFloat($("#ReceiveQty").val())) {
            //        isValid = false;
            //        alert("Your receive quantity should be equal to  or less than available quantity");
            //    }
            //}

        }
        function clearOnAdd() {
            $("#ItemID").val("").change();
            $("#Qty").val("");
            $("#GroupName").val("");
            $("#QcQty").val("");
            $("#CostRt").val("");
            $("#CostVal").val("");
        }
        function clearOnSearch() {
            $("#ItemID").val("").change();
            $("#Qty").val("");
            $("#GroupName").val("");
            $("#QcQty").val("");
            $("#CostRt").val("");
            $("#CostVal").val("");
            addedItems = [];
            addedItems1 = [];
        }
        $(document).on('click', "#print", function (event) {
            event.preventDefault();
            $("#lcrnForm").attr("action", "/LCRN/GetLCRNSamplePreview")
            $("#lcrnForm").submit();

        });

        $(document).on('focusout', "#ReceiveQty", function () {
            calculationHaveToReceive();
        });

        function calculationHaveToReceive() {
            var rcvQty = $("#ReceiveQty").val();
            var RcvdQty = $("#ReceivedQty").val();
            var avQty = $("#AvailableQty").val();
            var orderQty = $("#Qty").val();

            if (parseFloat(rcvQty) > parseFloat(avQty)) {
                alert("Receive Qty Can not be grater than Available Qty");
            }
            else {
                $("#HaveToRecev").val(parseFloat(orderQty) - (parseFloat(RcvdQty) + parseFloat(rcvQty)));
            }
        }

        $(document).on('focusout', "#Rate", function () {
            calculationRate();

        });
        //function calculationRate() {
        //    var rate = $("#Rate").val();
        //    var rcvQty = $("#ReceiveQty").val();
        //    $("#Value").val((parseFloat(rate) * parseFloat(rcvQty)).toFixed(2));
        //}
        function calculationRate() {
            var rate = $("#Rate").val();
            var Qty = $("#Qty").val();
            $("#Value").val((parseFloat(rate) * parseFloat(Qty)).toFixed(2));
        }
    });
    </script>
}
